html, body{
    margin: 0;
    padding: 0;
}
.wrap{
    max-width: 1600px;
    margin:auto;
}
.header{
    display: flex;
}
.logo{
    flex-grow: 2;
    max-width: 200px;
}
.name-student{
    flex-grow: 2;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #88EA70;
    max-width: 200px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}
.name-site{
    display: flex;
    flex-grow: 6;
    justify-content: center;
}
.menu{
    width: 100%;
    height: 100px;
    background: silver;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #88EA70;
}
.left-menu{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-menu{
    display: flex;
    flex-direction: column;
}
#title-text{
    text-align: center;
}
#text-text{
    padding: 10px;
    text-align: center;
    overflow: hidden;
}
.img{
    overflow: hidden;
    margin-top: 24px;
}
.basament{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
}
#bold{
    font-weight: bold;
    font-size: 24px;
}
#ph{
    position: absolute;
    width: 12%;
    margin-left: -46px;
}
